<h1>About me</h1>

<p>Working-on/learning the Rails</p>

<p>Daniel Antohe (<a href="https://www.linkedin.com/in/danielantohe" target="_blank">linkedin</a>) (<a href="http://www.danielantohe.com" target="_blank">personal website</a>) (<a href="https://www.coursera.org/user/i/a9a9d13bca537e6188a618ec78e80d95" target="_blank">coursera</a>). </p>
