<div class="jumbotron">
	<h1>Ruby on Rails</h1>
	<p>Daniel (<a href="http://www.danielantohe.com">personal website</a>) is learning RonR</p>
	<!--<button type="button" class="btn btn-primary btn"><%= link_to "Sign Up", "#" %></button>-->
	<p> Yet another <%= link_to "here", "#" %>. </p>
</div>